/* index.css to style index.html of Odin-Landing-Page */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "roboto";
}

.header-container {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    height: 450px;
}

.new {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    height: 1500px;
}

.footer {
    background: #1f2937;
    color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color:rgb(249, 250, 248);
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-text,
.links {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px 400px;
    margin-top: 15px;
}

.sign-up {
    background: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 7px;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
}

.left {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    display: flex;
    background: rgb(123, 123, 128);
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    flex-grow: 1;
    flex-shrink: 0;
    
}

.top {
    height: 230px;
    display: flex;
    justify-content: center;
    margin: 0px 400px;
    gap: 50px;
    
}

.left {
    flex-grow: 1;
    flex-shrink: 0;
}

.white-content {
    background: #ffffff;
    margin: 50px 0px;
    display: flex;
    flex:  1; /* each content section has "flex:1" so they can be evenly sized and spaced. */
    flex-direction: column;
    gap: 50px;
}

.gray-content {
    display: flex;
    background: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.last-content {
    backgroud: #ffffff;
    flex: 1;
}

.random {
    display: flex;
    justify-content: center;
    font-size:36px;
    font-weight: 900;
    color: #1f2937;
}

.blocks {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.one {
    display:  flex;
    flex-direction: column;
    align-items: center;
    width: 200px;

}

.card {
    border: 5px solid #3882F6;
    padding: 20px;
    border-radius: 7px;
    width: 150px;
    height: 150px;
}

.subtext {
    text-align: center;
}

.quote {
    padding: 0px 500px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
}

.Thor {
    padding: 0px 500px;
    text-align: right;
    margin-right: 30px;
}